* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.main__title {
  padding: 10px;
  background: #f3f5f9;
}

.profile__image {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
  align-self: center;
}

.tech-stack__list {
  display: flex;
  /* gap: 10px; */
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.tech-stack__list-item {
  margin: 0px 10px 10px 0px; /* SAME AS GAP IN FLEXBOX LOOK UP YOU FOOL */
  padding: 10px;
  background-color: #252629;
  color: #ffffff;
  border-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
}
